remoteurl = http://www.example.com
localurl = http://localhost

site.title = Page Title
site.author = John Smith
site.email = mail@example.com
post.title post.content
site.url = http://www.example.com

default_index = source/index.markdown
comtec = 1

bin	= /Users/rpr/bin
lib	= /Users/rpr/bin/lib

source = source
posts	=	_posts
drafts = _drafts
stash	= _stash
public = output

debug = 1
